* {
  box-sizing: border-box;
}
main {
  max-width: 80ch;
}

.card {
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
  width: 400px;
}

.container {
  border-radius: 10px;
}

.card .ql-toolbar {
  display: none;
}

.ql-container.ql-snow {
  border: 1px solid #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.ql-toolbar.ql-snow {
  background-color: rgb(200, 200, 200);
  border: 3px solid #d3d3d3;
  border-radius: 10px 10px 0px 0px;
}

.deleteButton {
  background-color: rgb(242, 110, 110);
  color: white;
  border: 1px solid rgb(242, 110, 110);
  border-radius: 2px;
}

dialog {
  padding: 0;
}

dialog .dialog-container {
  padding: 1rem;
}