* {
  box-sizing: border-box;
}
main {
  max-width: 80ch;
}

.card {
  position: absolute;
  z-index: 9;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  text-align: center;
  cursor: move;
  width: 400px;
}

.card .ql-toolbar {
  display: none;
}

dialog {
  padding: 0;
}

dialog .dialog-container {
  padding: 1rem;
}